In [9]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
X1=pd.read_csv('train.csv',index_col='Id')
X2=pd.read_csv('test.csv',index_col='Id')
Y1=X1.SalePrice
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X=X1[features].copy()
X_test=X2[features].copy()
X_train,X_valid,y_train,y_valid=train_test_split(X,Y1,train_size=0.8,test_size=0.2,random_state=19)

In [3]:
X_test.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,
1461,11622,1961,896,0,1,2,5
1462,14267,1958,1329,0,1,3,6
1463,13830,1997,928,701,2,3,6
1464,9978,1998,926,678,2,3,7
1465,5005,1992,1280,0,2,2,5

In [6]:
from sklearn.ensemble import RandomForestRegressor

# Define the models
model_1 = RandomForestRegressor(n_estimators=50, random_state=0)
model_2 = RandomForestRegressor(n_estimators=100, random_state=0)
model_3 = RandomForestRegressor(n_estimators=100, criterion='mae', random_state=0)
model_4 = RandomForestRegressor(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)

models = [model_1, model_2, model_3, model_4, model_5]

In [8]:
from sklearn.metrics import mean_absolute_error
for i in range(0,len(models)):
    model=models[i]
    X_t=X_train
    X_v=X_valid
    y_t=y_train
    y_v=y_valid
    model.fit(X_t,y_t)
    prediction=model.predict(X_v)
    mae=mean_absolute_error(y_v,prediction)
    print(mae)

22636.90665525114
22802.132220319632
22572.374383561644
22837.79766406457
23177.891343599542

In [17]:
model[2].fit(X,Y1)
preds_test=model[2].predict(X_test)
output = pd.DataFrame({'Id': X_test.index,
                       'SalePrice': preds_test})
print(output)
output.to_csv('output.csv', index=False)

        Id      SalePrice
0     1461  129504.010204
1     1462  157249.181818
2     1463  175844.320000
3     1464  175844.320000
4     1465  190290.712500
5     1466  173237.500000
6     1467  190290.712500
7     1468  175844.320000
8     1469  190290.712500
9     1470  129504.010204
10    1471  190290.712500
11    1472   97835.714286
12    1473  103863.636364
13    1474  141443.130435
14    1475  129504.010204
15    1476  250983.000000
16    1477  231426.446429
17    1478  280516.818182
18    1479  350585.222222
19    1480  435075.307692
20    1481  304123.285714
21    1482  190290.712500
22    1483  190290.712500
23    1484  175844.320000
24    1485  175844.320000
25    1486  209133.653846
26    1487  250983.000000
27    1488  231426.446429
28    1489  190290.712500
29    1490  231426.446429
...    ...            ...
1429  2890   97835.714286
1430  2891  141443.130435
1431  2892   97835.714286
1432  2893  130629.000000
1433  2894   97835.714286
1434  2895  280516.818182
1435  2896  250090.000000
1436  2897  177329.245283
1437  2898  136401.173913
1438  2899  231426.446429
1439  2900  149778.421687
1440  2901  177329.245283
1441  2902  190290.712500
1442  2903  350585.222222
1443  2904  280516.818182
1444  2905  177329.245283
1445  2906  226771.428571
1446  2907  103863.636364
1447  2908  129504.010204
1448  2909  136401.173913
1449  2910   70167.583333
1450  2911   97835.714286
1451  2912  157249.181818
1452  2913   97835.714286
1453  2914   97835.714286
1454  2915   97835.714286
1455  2916   97835.714286
1456  2917  157249.181818
1457  2918  142034.210526
1458  2919  229509.038462

[1459 rows x 2 columns]